#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  margin: 50px auto;
  margin-bottom: 0;
  padding: 20px;
  font-size: 4em;
  text-shadow: 4px 4px lightgrey;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 730px;
  margin: 50px auto;
}

label {
}

input {
  width: 150px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  width: 164px;
  height: 40px;
  margin: 13px 11px;
  padding: 5px;
  font-size: 17px;
  border-radius: 5px;
}

button:hover {
  background: lightgrey;
}

p {
  margin: 0 auto;
  padding: 30px;
  width: 730px;
  font-size: 18px;
  line-height: 2;
  border: solid 3px lightgrey;
}
